#base {
  width: 270px;
  height: 270px;
  position: relative;
}
.clock {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin:0;
  padding:0;
}

.calendar-title {
  text-align: center;
}

.calendar-table {
  margin: 0 auto;
  font-size: 150%;
  font-family: monospace;
  width: 90%;
  height: 90%;
}

.calendar-table .is-today {
  color: white;
  background-color: red;
}

.calendar-table td {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.simulation-date{
  font-size: 4.4vmax;
  font-family: monospace;
}

.simulation-time{
  font-size: 11vmax;
  font-family: monospace;
}

@media (max-width:414px)) {
  body {
    max-width: 350px;
  }
}

@media (min-width:1024px) {
  .simulation-time{
    font-size: 15vmax;
  }
}

@media (min-width:1200px) {
  .container{
    max-width: 90%;
  }
}
