.calendar-title {
  text-align: center;
}

.calendar-table {
  margin: 0 auto;
}

.calendar-table .is-today {
  color: white;
  background-color: red;
}

.calendar-table td {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.simulation-date{
  font-size: 450%;
}

.simulation-time{
  font-size: 1200%;
}
