#base {
    width: 300px;
    height: 300px;
    position: relative;
}

.clock {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.calendar-title {
  text-align: center;
}

.calendar-table {
  margin: 0 auto;
  font-size: 200%;
  font-family: monospace;
  width: 100%;
  height: 100%;
}

.calendar-table .is-today {
  color: white;
  background-color: red;
}

.calendar-table td {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.simulation-date{
  font-size: 450%;
  font-family: monospace;
}

.simulation-time{
  font-size: 1500%;
  font-family: monospace;
}
